<!DOCTYPE html>
<html lang="en" data-theme="light" class="transition-colors duration-300">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joe's Blog</title>
  <link href="/static/css/style.css" rel="stylesheet">
  <script src="/static/js/htmx.min.js"></script>
  <script src="/static/js/json-enc.js"></script>
  <script src="/static/js/script.js"></script>

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-T4RJZC9J');
  </script>
</head>

<body id="content-wrapper" class="bg-base-100 text-base-content">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4RJZC9J" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div hx-get="/components/nav" hx-trigger="load"></div>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>

</html>
