<!Doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="/static/css/style.css" rel="stylesheet">
  <script src="/static/js/htmx.min.js"></script>
  <script src="/static/js/json-enc.js"></script>
</head>

<body>
  <div hx-get="/nav" hx-trigger="load" hx-swap="outerHTML">
    Loading nav...
  </div>
  <br><br><br>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>

</html>